{% extends "base.html" %}
{% block title %}Telefonia{% endblock %}
{% block page_title %}Telefonia{% endblock %}

{% block content %}

<div class="row g-3 mb-4">

    <div class="col-md-3">
        <div class="card shadow-sm kpi">
            <div class="card-body">
                <h6>Backups cadastrados</h6>
                <h3 id="kpiTotal">0</h3>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card shadow-sm kpi">
            <div class="card-body">
                <h6>Backups OK</h6>
                <h3 id="kpiOk" class="status-ok">0</h3>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card shadow-sm kpi">
            <div class="card-body">
                <h6>Backups com Falha</h6>
                <h3 id="kpiFail" class="status-error">0</h3>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card shadow-sm kpi">
            <div class="card-body">
                <h6>Último Backup</h6>
                <h3 id="kpiLastBackup">-</h3>
            </div>
        </div>
    </div>

</div>

<div class="card shadow-sm">
    <div class="card-body">
        <h5>Equipamentos:</h5>

        <table class="table table-hover mt-3">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Tipo</th>
                    <th>Último Backup</th>
                    <th>Status</th>
                    <th>Ações</th>
                </tr>
            </thead>

            <div class="d-flex justify-content-between mb-3">
                <input type="text" id="searchInput" class="form-control w-25" placeholder="Buscar por nome...">




                <tbody id="equipamentTableBody">
                    <!-- Linhas de equipamentos serão inseridas aqui via JavaScript -->
                </tbody>
        </table>
        <div>
            <button id="prevPage" class="btn btn-sm btn-outline-primary">Anterior</button>
            <span id="pageInfo" class="mx-2"></span>
            <button id="nextPage" class="btn btn-sm btn-outline-primary">Próximo</button>
        </div>
    </div>
</div>
</div>

<script src="{{ url_for('web.static', filename='js/equipament.js') }}"></script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        loadEquipaments("{{ equipament_type }}");
    });
</script>

{% endblock %}