{% extends "base.html" %}
{% block content %}
<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
<!-- CONTEÚDO -->
<main class="flex-fill p-4">


    <!-- TOPBAR -->
    <div class="topbar mb-4">
        <div>
            <h5 class="mb-0">Servidor de Backups</h5>
            <small class="text-muted">Visão geral do sistema</small>
        </div>
    </div>


</main>

<div class="row g-4">

    <div class="col-md-4">
        <div class="card-glass">
            <h6 class="text-muted">CPU</h6>
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h2 id="cpuUsage"></h2>
                    <small style="color: white;">.</small>
                </div>
                <i class="bi bi-cpu fs-1 text-primary"></i>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card-glass">
            <h6 class="text-muted">Espaço Livre</h6>
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h2 id="diskUsage"></h2>
                    <small id="diskTotal"></small>
                </div>
                <i class="bi bi-database fs-1 text-primary"></i>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card-glass">
            <h6 class="text-muted">Uso de memoria</h6>
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h2 id="ramUsage"></h2>
                    <small id="ramTotal"></small>
                </div>
                <i class="bi bi-hdd fs-1 text-primary"></i>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card-glass">
            <h6 class="text-muted">Backups OK</h6>
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h2 class="text-success" id="backupOkCount"></h2>
                    <small>Últimas 24h</small>
                </div>
                <i class="bi bi-check-circle-fill fs-1 text-success"></i>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card-glass border-danger">
            <h6 class="text-muted">Falhas</h6>
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h2 class="text-danger" id="backupFailedCount"></h2>
                    <small>Últimas 24h</small>
                </div>
                <i class="bi bi-exclamation-triangle-fill fs-1 text-danger"></i>
            </div>
        </div>
    </div>

</div>

<div class="row g-4 mt-3">

    <div class="col-md-6">
        <div class="card-glass">
            <h5>Logs device</h5>
            <hr>
            <div id="logsContainer" class="logs-container">
                <!-- Logs serão inseridos aqui via JavaScript -->
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card-glass">
            <h5>Logs Backups</h5>
            <hr>
            <div id="logsContainerBackups" class="logs-container">
                <!-- Logs serão inseridos aqui via JavaScript -->
            </div>
        </div>
    </div>
    {% endblock %}
</div>